@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  
  background-size: cover;
  background-image: url(./assets/images/background.jpg);
}
.toggle{
  cursor: pointer;
}
.App{
  display: flex;
  justify-content: center;
  width: 100%;
}