.Menu{
  height: 100vh;
  display: flex;
  align-items: center;
}
.Menu a{
  display: flex;
  justify-content: center;
  margin: 10px 0;
  width: 300px;
  text-decoration: none;
  color: #B4A34E;
  background-color: #363636;
  padding: 20px 0;
  font-size: 30px;
  border-radius: 15px;
}
.Menu a:hover{
  background-color: #242424;
}